@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:wght@300;500;700&display=swap');
:root{
    --bg-body:#f0f2f5;
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);
   
    --border-radius:2rem ;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding:1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--bg-body);
    position: relative;
}

.error{
    display: block;
    width: 100%;
    color: red;
}
.container{
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}




.container .title h1{
    font-size: 44px;
    margin-left: -30px;
    color: var(--color-primary);
}
.container .title p{
    font-size: 20px;
}
@media (max-width:733px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .container .title h1{
        margin: 0;
        text-align: center;
    }
    .container .title p{
        font-size: 17px;
        margin-bottom: 40px;
        text-align: center;
    }

}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 15px;


}

.form-control {
    position: relative;
    flex-direction: column;
    margin: 15px 0 20px;
    width: 300px;
}
 
.form-control select {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--color-primary) solid;
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: var(--color-primary);
    appearance: none; /* Pour désactiver les styles de l'élément par défaut du navigateur */
    outline: none; /* Pour supprimer la bordure de focus par défaut du navigateur */
    cursor: pointer; /* Afficher le curseur pointer */
  }
  
  /* Style pour les options du select */
  .form-control select option {
    background-color: #fff; /* Couleur d'arrière-plan des options */
    color: #000; /* Couleur du texte des options */
    font-size: 18px;
  }
  
  
.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--color-primary) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #000;
}
  
.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--color-primary);
}
  
.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    color: var(--color-primary);
}
  
.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.form-control input:focus + label span,
.form-control input:valid + label span {
    color: var(--color-primary);
    transform: translateY(-30px);
}
  
.btn-submit {
    background-color: var(--color-primary);
    color: #fff;
}
.mdp-oublie {
    font-size: 13px;
    color: var(--color-primary);
    text-decoration: none;
    text-align: center;

}
.mdp-oublie:hover{
    text-decoration: underline;
}

.formulaire hr{
    margin: 20px 0;
    background-color: #ccc;
    width: 100%;
    border:  0;
    height:  1px;
}
.btn-inscription{
    text-decoration: none;
    color: #fff;
    background-color: #00a400;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.inscription {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    display: none;

}
.inscription.active{
    display: flex;
}

.inscription form {
    width:  350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
}

.inscription form i{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.inscription form h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.inscription form h4{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);

}
.inscription form hr {
    margin: 10px 0;
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.input-nom-prenom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-nom-prenom .form-control input{
    width:95%;

}
.num-mdp{
    width: 100%;
    margin-bottom: 10px;
}
.label-class{
    font-size: 12px;
    margin-bottom: 3px;
}


.texte p{
    font-size: 11px;
    text-align:  justify;
    color:#ccc;
}

.center-btn-submit{
    text-align: center;
}

#inscrire{
    margin-top: 20px;
    padding: 8px 70px;
    background-color: #00a400;
    color: #fff;

}
